.container {
  position: relative;
  height: 100vh;
  width: 100vw;

  .title {
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 3rem;
    font-weight: 900;
  }

  .author {
    position: absolute;
    bottom: 25%;
    right: 20%;
    font-weight: 100;
  }
}

@media screen and (min-width: 800px) {
  .container {
    .title {
      top: 35%;
      left: 10%;
      font-size: 5rem;
    }

    .author {
      bottom: 40%;
      right: 20%;
    }
  }
}
