/* You can add global styles to this file, and also import other style files */
@import 'assets/scss';

:root {
  --color-white: #{$color-light};
  --color-yellow: #{$color-yellow};
  --color-purple: #{$color-purple};
  --color-orange: #{$color-orange};
  --color-green: #{$color-green};
  --color-dark: #{$color-dark};

  --text-white: #ffffff;

  --bg-color: var(--color-white);
  --secondary: var(--color-purple);
  --secondary-alt: var(--color-green);
  --tertiary: var(--color-yellow);
  --primary: var(--color-orange);
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  font-family: 'Cutive Mono', 'Satoshi-Regular', var(--bs-body-font-family);
  font-size: 16px;
}

body {
  background-color: var(--bg-color);
  font-family: inherit;
}
